<div class="site-footer">
  <div class="site-footer-item">
    <a href='{{ .Site.Params.staticPrefix }}{{ "index.xml" | relURL }}'>{{ partial "fontawesome.html" "rss" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://github.com/raphaelsty">{{ partial "fontawesome.html" "github" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://linkedin.com/in/raphaelsourty">{{ partial "fontawesome.html" "linkedin" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://twitter.com/raphaelsrty">{{ partial "fontawesome.html" "twitter" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://www.kaggle.com/raphaelsourty">{{ partial "fontawesome.html" "kaggle" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://scholar.google.com/citations?user=cwHNQc0AAAAJ&hl=en">{{ partial "fontawesome.html" "gscholar"
      }}</a>
  </div>
  <div class="site-footer-item">
    <a href="mailto:raphael.sourty@gmail.com">{{ partial "fontawesome.html" "email" }}</a>
  </div>
</div>